fastapi
uvicorn
jinja2
python-dotenv
sqlalchemy
passlib
bcrypt
python-jose
python-multipart
pandas==2.0.0
numpy==1.24.2
scikit-learn==1.5.0
joblib==1.2.0
groq
python-jose[cryptography]==3.3.0
markdown2 